#video-listen-page {
  width: 100vw;
  height: 100vh;

  background: #f0f0f7;

  display: flex;
  align-items: center;
  flex-direction: column;
}

#video-listen-page h1 {
  margin: 40px 0;

  font-weight: 400;
}

#video-listen-page .video-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
